.page-header__logo-link {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.page-header__logo-img {
  height: 24px;
  width: 77px;

  @media (min-width: @desktop-width) {
    width: 160px;
    height: 50px;
  }
}
